.container-sign-up {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-sign-up h1 {
  color: var(--background);
  font-size: 3rem;
  margin-bottom: 0;
}

.form-sign-up {
  width: 80%;
}

.field-sign-up {
  font-size: 1.5rem;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: start;
}
.field-sign-up label {
  font-size: 1.3rem;
  margin-bottom: 5px;

  color: var(--background);
}
.field-sign-up input {
  border: none;
  outline: none;

  font-size: 1.2rem;
  padding: 5px 10px;
  margin-bottom: 25px;
  border-radius: 10px;

  background-color: var(--primary);
  color: var(--background);
}
input::selection {
  background-color: transparent; /* Define a cor de fundo da seleção como transparente */
}
.field-sign-up input::placeholder {
  color: var(--backgrond-login);
  font-style: italic;
  font-size: 1rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setError {

  width: 256px;
  color: #ff2d2d;
}

.bolinha-sign-up {
  width: 100%;
  height: 25%;
}

.bolinha-sign-up .bolinha-signup{
  position: absolute;
  width: 23rem;
  height: 19em;

  right: -115px;
  bottom: -150px;
  border-radius: 50%;
  z-index: 1;

  transition: transform 0.3s;

  background-color: var(--primary);
}
.bolinha-signup:hover {
  transform: scale(1.1);
}

.btn-action-sign-up {
  position: absolute;
  right: 10px;
  bottom: 20px;

  z-index: 2;
}

.btn-action-sign-up button {
  border: none;
  font-weight: bold;
  cursor: pointer;

  font-size: 3rem;

  background-color: var(--primary);
  color: var(--background);

  transition: transform 0.3s;
}
