:root {
  --black: #000;
  --white: #fff;
  --text: #e6e6e6;
  --text-100: #e6e6e6;
  --text-200: #cacaca;
  --text-300: #b4b4b4;
  --background: #141414;
  --background-100: #2e2e2e;
  --background-200: #383838;
  --backgrond-login: #FFECCD;
  --primary: #FFBF00;
  --secondary: #ffe69c;
}
