::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffde7a inset !important;
}
